<header id="header"
	class="header-section section section-dark navbar navbar-fixed-top">

	<div class="container-fluid">

		<div class="navbar-header navbar-left">

			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navigation">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<a class="navbar-logo navbar-brand anchor-link" ui-sref="home"> <img
				src="assets/images/header-logo.png"
				srcset="assets/images/header-logo@2x.png 2x" alt="Essential">
			</a>

		</div>

		<nav id="navigation"
			class="navigation navbar-collapse collapse navbar-right" 
			ng-controller="NavbarController" ng-switch="isAuthenticated()">

			<!-- NAVIGATION LINKS -->
			<ul id="header-nav" class="nav navbar-nav">

				<li><a href="#hero" class="hidden">Top</a></li>

                <li ng-class="{active: $state.includes('encyclopedia')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    	<span>
                        	<span class="glyphicon glyphicon-book"></span>
                            <span class="hidden-tablet">Encyclopedia</span>
                       		<b class="caret"></b>
                       </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="oils">
                        	<span class="glyphicon glyphicon-tint"></span>
                            &#xA0;<span>Oils</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="oilBlends">
                        	<span class="glyphicon glyphicon-adjust"></span>
                            &#xA0;<span>Blends</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('apothecary')}" ui-sref-active="active">
                    <a ui-sref="apothecary">
                        <span class="fa fa-flask"></span>
                        <span>Apothecary</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes('admin')}" class="dropdown pointer"
                	ng-switch-when="true" ng-show="isInRole('ROLE_ADMIN')" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                   		<span>
							<span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-tablet">Admin</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="tracker">
                        	<span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;<span>User tracking</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics">
                        	<span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health">
                        	<span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration">
                        	<span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits">
                        	<span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs">
                        	<span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="docs">
                        	<span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API Docs</span></a></li>
                    </ul>
                </li>                
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    	<span>
                        	<span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-tablet">Account</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings">
                        	<span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password">
                        	<span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()">
                        	<span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login">
                        	<span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span>Login</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register">
                        	<span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li> 
			</ul>
		</nav>
	</div>
</header>
